body {
    background-color:rgb(109, 151, 185);
}

#draw-container {
    display: grid;
    grid-template-columns: 1fr;
}

#canvas-box {
    height: 97%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#my-canvas {
    width: 70vh;
    height: 70vh;
    border: 1px solid black;
    background-color: white;
}

.icon {
    width: 4vh;
    height: 4vh;
}

.tool {
    width: 8vh;
    height: 8vh;
    text-align: center;
    background-color: white;
    margin: 1px;
    border: 1px solid black;
}

#black {
    background-color: black;
}

#gray {
    background-color: grey;
}

#white {
    background-color: white;
}

#brown {
    background-color:saddlebrown;
}

#red {
    background-color:red;
}

#orange {
    background-color: orange;
}

#yellow {
    background-color: yellow;
}

#lime {
    background-color: lime;
}

#green {
    background-color: green;
}

#blue {
    background-color: blue;
}

#cyan {
    background-color: cyan;
}

#magenta {
    background-color: magenta;
}

#purple {
    background-color:purple;
}

#palette {
    display: flex;
    justify-content: center;
    padding: 3px;
    background-color: white;
    border: 1px solid black;
    border-top: none;
}

.palette {
    width: 3vh;
    height: 3vh;
    margin: 2px;
}

button {
    border: .5px solid silver;
    border-radius: 3px;
}

#toolbox {
    display: grid;
    grid-template-columns: 1fr;
}

#brushsizes {
    display: grid;
    grid-template-columns: 1fr;
    background-color: white;
    border-radius: 3px;
    border: 1px solid black;
    margin: 1px;
}

.brushsize {
    width: 6vh;
    height: 6vh;
    border: none;
    background-color: white;
}

#small {
    width: 5px;
}

#medium {
    width: 12px;
}

#large {
    width: 20px;
}

.roboto {
    font-family: Roboto Light;
    font-size: large;
}

.rounded {
    border-radius: 3px;
    border: 1px solid black;
}

p {
    width: 70vh;
}

#submit {
    margin: 3vh;
    width: 30%;
    height: 1cm;
    background-color: rgb(28, 160, 28);
    color: white;
    border: 1px solid white;
    justify-self: center;
}