body {
    background-color: #EF9C57;
    color: #FFFFFF;
    font-family: Roboto, Helvetica, Arial, sans-serif;
}

h1 {
    font-family: Lobster, Helvetica, Arial, sans-serif;
}

.navbar {
    background-color: #EF862E;
    box-shadow: 0 2px 5px 0 #eea763;
}

.navbar-nav {
    font-family: 'Fira Sans', Helvetica, Arial, sans-serif;
}

.btn {
    font-family: 'Fira Sans', Helvetica, Arial, sans-serif;
}

.btn:hover {
    color: #EF862E;
}

.card-img-top {
    border-radius: 50%;
}

.card-body {
    color: #EF862E;
}

.fab {
    font-size: 2rem;
    color: black;
}

/*@media (max-width: 600px) {*/

/*    body,*/
/*    #message {*/
/*        margin-top: 0;*/
/*        background: white;*/
/*        box-shadow: none;*/
/*    }*/

/*    body {*/
/*        border-top: 16px solid #ffa100;*/
/*    }*/
/*}*/
